<footer>
	<div class="row">
		<div class="col-lg-6 col-sm-6">
		 	<div class="footer-col">
				<img height="50px" src="//pennapps.github.io/pennapps-unified-styles/img/logo_white.svg" />
				<p>
					&copy; 2016 PennApps <br />
					<a href="mailto:contact@pennapps.com">contact@pennapps.com</a>
				</p>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="footer-col">
				<p>
					<a href="https://www.facebook.com/pennapps">Facebook</a> <br/>
					<a href="https://twitter.com/pennapps">Twitter</a>
				</p>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="footer-col">
				<p>Organized with support from:</p>
				<a href="http://www.seas.upenn.edu">
					<img height="50px" style="margin-top: 10px;" src="//pennapps.github.io/pennapps-unified-styles/img/penn_engineering_logo_white.png" />
				</a>
			</div>
		</div>
	</div>
</footer>