/* Typography */

/*@font-face {
  font-family: Helvetica;
  src: url("HelveticaNeueLTStd-Th.otf") format("opentype");
}*/


/*body {
  font: 14px "Open Sans", Helvetica Neue, sans-serif;
  color: #333333; }
*/
/*h1 {
  font-weight: 400;
  font-size: 2.5em;
  border: none;
  margin: 0.2em 0em;
  margin-top: 50px; }

h2 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.5em;
  border: none; }

h3 {
  font-weight: 400;
  font-size: 1.3em;
  color: #FCD401; }

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

p, ol, ul {
  letter-spacing: 0.07em;
  font-family: "Helvetica";
  font-size: 1em;
  line-height: 1.4em;
  color: #444444;
  font-weight: 300; }*/




/* Body, Navbar blocks*/
body {
  margin: 0px auto;
  width: 100%;
  position: relative;
  height: auto;
  padding: 0px;
  background: white;
}

.hidden{
  display: none;
}

.nav-items{
  background: white;
  text-align: left;
  position: relative;
  font-size: 1em;
  box-shadow: 0 0 5px #00ADEF;
  -webkit-box-shadow: 0 0 5px #00ADEF;
  -moz-box-shadow: 0 0 5px #00ADEF;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
  
  .nav-items img {
    max-width: 2em;
    display: inline;
    vertical-align: bottom;
  }
  .nav-item{
    color: #00ADEF;
    background-color: white;
    display: inline-block;
    padding: 10px 10px;
    font-weight: lighter;
  }
  /*.nav-item:hover{
    background-color: #00ADEF;
    color: white;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }*/
  
/* Content styles */

   /*h1{
    color: #FCD401;
    text-transform: uppercase;
    text-align: center;
   }
   h2{
    margin: auto;
    text-align: center;
    color: #FCD401;
   }
   h1,h2,h3,h4{
    text-align: center;
   }
   p{
    margin: 20px 10%;
    color: #111111;
    font-size: 1em;
    display: block;
    padding: 10px;
    font-weight: 300;
   }
   a{
      text-decoration: none;
      color: #00ADEF;
      font-weight: 500;
    }
    a:hover {
      text-decoration: none;
      color: #FCD401;
    }
   em{
    color: #00ADEF;
    padding: 0.17em;
    font-weight: 300;
    font-size: 1em;
    text-decoration: none;
   }
   blockquote{
    margin: 20px 10%;
    border-left: 2vw solid #004E78;
   }
    blockquote p {
      color: #14587D;
      margin: 0;
    }
   ol, ul {
    margin: 20px 12%;
   }
   img{
    margin: auto;
    display: inherit;
   }*/

/* Code blocks */
.codehilite pre{
  text-align: left;
  font-weight: 300;
  font-size: 0.8em;
  margin: 0;
  word-wrap: break-word;
  border: solid 2px #00ADEF;
}
  code{
    background: #004E78;
    color: #66BEED;
    font-size: 0.8em;
    padding: 0.1em;
    font-weight: 300;
  }

/* Image syles */
img{
  display: block;
  position: relative;
  max-width: 100%;
}
img.full-img{
  display: block;
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
}
  .img-caption{
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-weight: 300;
    float: right;
    font-size: 0.6em;
    color: white;
    background: #2e4b97;
    padding: 2px;
    margin-top: 0;
  }

/* Footer */
.footer{
  font-size: 0.5em;
  padding: 2px;
  border-top: #00ADEF solid 2px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
}
  .footer p{
    padding: 0;
    text-align: center;
    margin: 5px;
  }

/* Media Query for tablets and small desktops */
@media screen and (max-width: 1075px) {
  html, body{
    margin : 0px 0px 0px 0px; 
    width : 100%;
    border : none;
  }
}
/* Media Query for phones/phablets */
@media screen and (max-width: 860px){
  p{
    margin: 15px;
  }
  blockquote{
    margin: 15px;
  }
}



/* -------------------------------------------- */

@import url("http://hello.myfonts.net/count/2ddd1b.css");

/**
 * @license
 * MyFonts Webfont Build ID 3005723, 2015-04-08T15:48:54-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: HalisR-Black by Ahmet Altun
 * URL: http://www.myfonts.com/fonts/ahmet-altun/halis-rounded/black/
 *
 * Webfont: HalisR-Light by Ahmet Altun
 * URL: http://www.myfonts.com/fonts/ahmet-altun/halis-rounded/light/
 *
 * Webfont: HalisR-Regular by Ahmet Altun
 * URL: http://www.myfonts.com/fonts/ahmet-altun/halis-rounded/regular/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3005723
 * Licensed pageviews: 500,000
 * Webfonts copyright: Copyright (c) 2013 by Ahmet Altun. All rights reserved.
 *
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */


@font-face {
  font-family: 'HalisR-Black';
  src: url('webfonts/2DDD1B_0_0.eot');
  src: url('webfonts/2DDD1B_0_0.eot?#iefix') format('embedded-opentype'),
  url('webfonts/2DDD1B_0_0.woff2') format('woff2'),url('webfonts/2DDD1B_0_0.woff') format('woff'),
  url('webfonts/2DDD1B_0_0.ttf') format('truetype');
  }


@font-face {
  font-family: 'HalisR-Light';
  src: url('webfonts/2DDD1B_1_0.eot');
  src: url('webfonts/2DDD1B_1_0.eot?#iefix') format('embedded-opentype'),
  url('webfonts/2DDD1B_1_0.woff2') format('woff2'),url('webfonts/2DDD1B_1_0.woff') format('woff'),
  url('webfonts/2DDD1B_1_0.ttf') format('truetype');
  }


@font-face {
  font-family: 'HalisR-Regular';
  src: url('webfonts/2DDD1B_2_0.eot');
  src: url('webfonts/2DDD1B_2_0.eot?#iefix') format('embedded-opentype'),
  url('webfonts/2DDD1B_2_0.woff2') format('woff2'),url('webfonts/2DDD1B_2_0.woff') format('woff'),
  url('webfonts/2DDD1B_2_0.ttf') format('truetype');
}

/*
@light-grey: #EFEFEF;
@medium-grey: #5F5F5F;
@dark-grey: #444444;

@dark-blue: #062946;

@bright-red: #E64659;

@medium-gold: #C7A857;
*/

body{
  background-color: #EFEFEF;
  color: #5F5F5F;
  margin: 0px;
}

h1 {
  color: #062946;
  font-family: "HalisR-Regular";
  font-size: 2em;
  text-transform: uppercase;
}

h2 {
  color: #E64659;
  font-family: "HalisR-Regular";
  font-size: 2em;
  margin: 0px;
  padding: 20px 0px;
}

h3 {
  color: #E64659;
  font-family: "HalisR-Regular";
  margin-bottom: 0px;
}

p{
  color: #5F5F5F;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 0.75em;
  line-height: 1.75em;
  margin-bottom: 20px;
  margin-top: 0px;
}

p a{
  color: #062946;
  text-decoration: underline;
}

.markdown-body {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
}


.nav-items {
  left: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-items .nav-item {
  color: #062946;
  font-family: "HalisR-Regular";
  font-size: 0.75em;
  line-height: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}


@media (min-width: 768px) {
  .markdown-body {
    width: 750px;
  }
  .nav-items {
    padding-left: calc((100% - 750px) / 2);
    padding-right: calc((100% - 750px) / 2);
    padding-left: -webkit-calc((100% - 750px) / 2);
    padding-right: -webkit-calc((100% - 750px) / 2);
    padding-left: -moz-calc((100% - 750px) / 2);
    padding-right: -moz-calc((100% - 750px) / 2);
  }
}

@media (min-width: 992px) {
  .markdown-body {
    width: 970px;
  } 
  .nav-items {
    padding-left: calc((100% - 970px) / 2);
    padding-right: calc((100% - 970px) / 2);
    padding-left: -webkit-calc((100% - 970px) / 2);
    padding-right: -webkit-calc((100% - 970px) / 2);
    padding-left: -moz-calc((100% - 970px) / 2);
    padding-right: -moz-calc((100% - 970px) / 2);
  }
}


@media (min-width: 1200px) {
  .markdown-body {
    width: 1170px;
  }
  .nav-items {
    padding-left: calc((100% - 1170px) / 2);
    padding-right: calc((100% - 1170px) / 2);
    padding-left: -webkit-calc((100% - 1170px) / 2);
    padding-right: -webkit-calc((100% - 1170px) / 2);
    padding-left: -moz-calc((100% - 1170px) / 2);
    padding-right: -moz-calc((100% - 1170px) / 2);
  }
}

.footer {
  display: none;
}